@charset "UTF-8";

/*---------------styles-----------------*/

.narrow {
    max-width: 580px;
}

.left {
    background-color: #292933;
    float: left;
    left: 135px;
    margin-right: 50%;
}

.right {
    background-color: #ffffff;
    float: right;
    right: 135px;
    margin-left: 50%;
}

.fix-margin {
    margin-top: -86px !important;
}

.scrolled {
    background-color: rgba(255, 255, 255, 1) !important;
    height: 50px !important;
    line-height: 50px !important;
    transition: 0.2s !important;
}

.scrolled .dimmer:hover {
    background-color: #EBF0F5;
}

.active {
    box-sizing: border-box;
    border-bottom: 5px solid #fff;
    border-top: 5px solid #fff;
}

.scrolled .active {
    box-sizing: border-box;
    border-bottom: 4px solid #C4C8CC;
    border-top: 4px solid #C4C8CC;
}

.brighten {
    position: absolute;
    float: left;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: 0.3s;
}

.outer:hover .brighten {
    filter: brightness(1.2);
}


/*---------------elements-----------------*/

.scrolled .logo {
    font-size: 40px;
}

.scrolled img {
    max-height: 42px;
    margin-top: -5px;
}

.scrolled .menu {
    font-size: 24px;
    border-color: #EBF0F5
}

.logo {
    color: #2D373C;
    font-size: 50px;
    font-family: "PT Mono";
    line-height: inherit;
    flex-grow: 1;
    text-align: center;
    vertical-align: middle;
}

img {
    vertical-align: middle;
    margin-top: -10px;
    max-height: 50px;
}

.menu {
    position: relative;
    white-space: nowrap;
    display: block;
    =line-height: inherit;
    vertical-align: middle;
    color: #2D373C;
    font-size: 28px;
    flex-grow: 1;
    text-align: center;
    border-left-style: solid;
    border-width: 1px;
    border-color: #C4C8CC;
}

.svg {
    height: 60px;
    margin: 0 auto;
    align-self: center;
}

.dimmer:hover {
    background-color: #ffffff;
    transition: 0.3s;
}

.container {
    width: 100%;
    overflow: auto;
    align-self: center;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.title {
    display: inline-block;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    position: relative;
    margin-top: 50px;
    margin-bottom: 5px;
}

.inner {
    margin-top: 44px;
    margin-bottom: 44px;
    margin-left: 65px;
    margin-right: 65px;
    position: relative;
    float: left;
    top: 0;
    z-index: 2;
}

.outer {
    width: 520px;
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    position: relative;
    float: left;
    margin: 5px;
    transition: 0.3s;
}

.outer.hidden {
    visibility: hidden;
}

.outer:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.department {
    height: 520px;
}

.area {
    height: 360px;
}

.blank {
    visibility: hidden;
}

.glass {
    width: 280px;
    height: 58px;
    display: block;
    border-style: solid;
    border-color: #ffffff;
    border-width: 1px;
    background-color: rgba(255, 255, 255, 0.15);
    text-align: center;
    line-height: 58px;
    transition: 0.5s;
}

.glass:hover {
    background-color: rgba(255, 255, 255, 0.25);
}


/*---------------fonts-----------------*/

a {
    text-decoration: none;
}

.font50 {
    font-size: 50px;
    font-weight: bold;
    font-family: "PT Mono";
    margin-bottom: 19px;
}

.font36 {
    font-size: 36px;
    margin-bottom: 19px;
    font-weight: normal;
}

.font32 {
    font-size: 32px;
    margin-bottom: 19px;
    font-weight: normal;
}

.font24 {
    font-size: 24px;
    margin-bottom: 19px;
    font-weight: normal;
}

.bold {
    font-weight: bold;
}

.white {
    color: #ffffff;
}

.light {
    color: #697882;
}

.dark {
    color: #2D373C;
}

.short-line {
    background-color: #EBF0F5;
    height: 1px;
    width: 90px;
    margin-bottom: 19px;
}

.long-line {
    background-color: #C4C8CC;
    height: 1px;
    width: 480px;
    margin-bottom: 19px;
}
