@charset 'UTF-8';

/*---------------modifiers-----------------*/

.left {
	float: left;
	background-color: #292933;
}

.right {
	float: right;
	background-color: #fff;
}

.brighten {
	position: absolute;
	z-index: 1;
	top: 0;
	float: left;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
}

.brighten:after {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	content: '';
	transition: opacity .3s;
	opacity: 0;
	background-color: rgba(255, 255, 255, .1);
}

.outer:hover .brighten:after {
	opacity: 1;
}

break {
	flex-basis: 100%;
	width: 0px;
	height: 0px;
	overflow: hidden;
	display: none;
}

.noScroll {
	overflow: hidden;
}

.yeahScroll {
	overflow: scroll;
}


/*---------------elements-----------------*/

.logo {
	font-family: 'PT Mono';
	font-size: 50px;
	line-height: inherit;
	text-align: center;
	vertical-align: middle;
	color: #2d373c;
	flex-grow: 1;
	background-color: rgba(249, 249, 249, .85);
	transition: background-color .2s;
	z-index: 999;
}

.logo img {
	max-height: 50px;
	margin-top: -10px;
	vertical-align: middle;
}

.menu {
	font-size: 28px;
	line-height: inherit;
	position: relative;
	display: block;
	text-align: center;
	white-space: nowrap;
	color: #2d373c;
	border-width: 1px;
	border-color: rgba(255, 255, 255, .2);
	border-left-style: solid;
	flex-grow: 1;
	transition: background-color .2s, max-height .2s;
}

.container {
	display: flex;
	overflow: auto;
	width: 100%;
	margin: 0 auto;
	align-self: center;
	flex-wrap: wrap;
	justify-content: center;
}

.title {
	position: relative;
	display: block;
	margin-bottom: 5px;
	transition: width 0s, height 0s;
	box-shadow: 0 0 5px rgba(0, 0, 0, .4);
}

section {
	position: relative;
	z-index: 2;
	top: 0;
	float: left;
}

.outer {
	position: relative;
	float: left;
	width: 520px;
	margin: 5px;
	transition: width 0s, height 0s;
	background-position: center;
	background-size: cover;
	box-shadow: 0 0 5px rgba(0, 0, 0, .4);
}

.hidden {
	visibility: hidden;
	display: none;
}

.outer:hover {
	cursor: pointer;
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.department {
	height: 520px;
}

.area {
	height: 360px;
}

.glass {
	line-height: 58px;
	display: block;
	width: 280px;
	height: 58px;
	transition: background-color .5s;
	text-align: center;
	border-width: 1px;
	border-style: solid;
	border-color: #fff;
	background-color: rgba(255, 255, 255, .15);
}

.glass:hover {
	background-color: rgba(255, 255, 255, .25);
}

.aside {
	position: relative;
	float: left;
	width: 500px;
}


/*---------------fonts-----------------*/

a {
	text-decoration: none;
}

.font50 {
	font-family: 'PT Mono';
	font-size: 50px;
	font-weight: bold;
	margin-bottom: 19px;
}

.font36 {
	font-size: 36px;
	font-weight: normal;
	margin-bottom: 19px;
}

.font32 {
	font-size: 32px;
	font-weight: normal;
	margin-bottom: 19px;
}

.font24 {
	font-size: 24px;
	font-weight: normal;
	margin-bottom: 19px;
}

.bold {
	font-weight: bold;
}

.white {
	color: #fff;
}

.light {
	color: #697882;
}

.dark {
	color: #2d373c;
}

.short-line {
	width: 90px;
	height: 1px;
	margin-bottom: 19px;
	background-color: #ebf0f5;
}

.long-line {
	width: 480px;
	height: 1px;
	margin-bottom: 19px;
	background-color: #c4c8cc;
}


/*---------------styles-----------------*/

body {
	font-family: 'PT Sans';
	overflow-x: hidden;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #23232b;
}


/*/------------------------------structure----------------------------------/*/

.major {
	background-image: url(../img/vostok.png);
}

.minor {
	width: 100%;
	background-color: #f6f9fa;
}

.nii {
	width: 100%;
	background-image: url(../img/part.png);
}

.robot {
	width: 100%;
	background-image: url(../img/track.png);
	background-position: center;
}

footer {
	height: 500px;
	background-color: #23232b;
}

.major-departments,
.minor-departments {
	margin: 0 auto;
}


/*---------------header-----------------*/

.wrapper {
	overflow-x: hidden;
	transition: transform .2s;
}

.nav {
	position: fixed;
	z-index: 201;
	top: 0;
	right: 0;
	left: 0;
	display: flex;
	flex-direction: row;
	width: 100%;
	margin: 0;
	transition: all 0s, transform .2s;
	box-shadow: 0 0 5px rgba(0, 0, 0, .4);
	justify-content: space-around;
	align-items: center;
}

#hamburger {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	display: flex;
	height: 110px;
	width: 110px;
	transition: height .3s;
	visibility: hidden;
}

.moveRight {
	transition: transform .2s;
	transform: translateX(300px);
}


/*---------------top-----------------*/

.lead {
	position: absolute;
	z-index: 100;
	top: 238px;
	right: 0;
	width: 610px;
	height: 310px;
	transition: all .3s, width 0s, height 0s;
	background-color: rgba(249, 249, 249, .85);
	box-shadow: 0 0 5px rgba(0, 0, 0, .4);
}

.lead:hover {
	background-color: #fff;
}

.news {
	position: relative;
	height: inherit;
	background-color: rgba(35, 35, 43, .4);
}

.news-outer {
	background-image: url('../img/cover.jpg');
	background-position: center;
	background-size: cover;
	box-shadow: inset 0 0 0 100vh rgba(35, 35, 43, .4);
}

.news-inner {
	position: relative;
	max-width: 280px;
}


/*----------------media-----------------*/


/*----------------mobile only-----------------*/

@media all and (max-width:799px) {
	.nav {
		line-height: 50px;
		display: flex;
		box-shadow: none;
		flex-direction: column;
		justify-content: flex-start;
		transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99), background 0.5s cubic-bezier(0.4, 0.01, 0.165, 0.99);
		height: 50px;
	}
	.nav.active {
		background-color: #000000;
		height: 100vh;
	}
	.lead {
		position: relative;
		top: 80px;
		float: left;
		width: 100vw;
		height: auto;
	}
	.long-line {
		width: 100%;
		margin-bottom: 8px;
	}
	.title {
		display: block;
		width: 100%;
	}
	.menu {
		font-size: 18px;
		float: left;
		width: 100vw;
		text-align: left;
		text-indent: 25px;
		color: #ffffff;
		border-color: rgba(255, 255, 255, .1);
		border-bottom-style: solid;
		border-left: none;
		flex-grow: 0;
		/*    top: -100vh;*/
		transition: visibility 0s, opacity .6s cubic-bezier(0.4, 0.01, 0.165, 0.99);
		opacity: 0;
		visibility: hidden;
		background-color: rgba(249, 249, 249, .85);
	}
	.menu.active {
		opacity: 1;
		visibility: visible;
		background-color: #000000;
	}
	.menu:hover {
		background-color: #333333;
	}
	.logo {
		cursor: default;
		pointer-events: none;
		display: block;
		width: 100%;
		flex-grow: 0;
		font-size: 32px;
	}
	.logo img {
		max-height: 32px;
		margin-top: -6px;
	}
	.logo.active {
		background-color: #000000;
		color: #ffffff;
		position: fixed;
	}
	#hamburger {
		visibility: visible;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		height: 50px;
	}
	.hamburger,
	.hamburger:before,
	.hamburger:after {
		position: absolute;
		height: 2px;
		width: 20px;
		background-color: rgba(0, 0, 0, 1);
		transform: rotate(0deg);
		transition: all 0.3s cubic-bezier(0.4, 0.01, 0.165, 0.99);
		border-radius: 3px;
	}
	.hamburger {
		/*    top: 0;*/
	}
	.hamburger:before {
		content: '';
		top: -6px;
	}
	.hamburger:after {
		content: '';
		top: 6px;
	}
	#hamburger.active .hamburger:before {
		transform: translateY(6px) rotate(45deg);
		background-color: rgba(255, 255, 255, 1);
	}
	#hamburger.active .hamburger {
		background-color: rgba(255, 255, 255, 0);
		opacity: 1;
	}
	#hamburger.active .hamburger:after {
		transform: translateY(-6px) rotate(-45deg);
		background-color: rgba(255, 255, 255, 1);
	}
}


/*----------------desktop only-----------------*/

@media all and (min-width:800px) {
	.narrow {
		max-width: 580px;
	}
	.left {
		left: 135px;
	}
	.right {
		right: 135px;
	}
	.nav {
		line-height: 110px;
		height: 110px;
		transition: .2s;
	}
	.current {
		border-top: 5px solid #fff;
		border-bottom: 5px solid #fff;
	}
	.scrolled .current {
		border-top: 4px solid #c4c8cc;
		border-bottom: 4px solid #c4c8cc;
	}
	.scrolled .logo {
		font-size: 40px;
	}
	.scrolled img {
		max-height: 42px;
		margin-top: -5px;
	}
	.scrolled .menu {
		font-size: 24px;
		border-color: #ebf0f5;
	}
	.scrolled {
		line-height: 50px;
		height: 50px;
		transition: 0.2s;
	}
	.scrolled a {
		background-color: rgba(255, 255, 255, 1);
	}
	.scrolled a:hover {
		background-color: #ebf0f5;
	}
	.menu {
		background-color: rgba(249, 249, 249, .85);
	}
	.menu:hover,
	.logo:hover {
		background-color: #fff;
	}
	section {
		margin: 44px 65px;
	}
	/* some exceptions occur */
	.news-outer {
		height: 1080px;
	}
	.news-inner {
		top: 720px;
		left: 280px;
	}
}


/*----------------device specific-----------------*/


/*----------------<399-----------------*/

@media all and (max-width:399px) {
	.major,
	.minor,
	.nii {
		padding-bottom: 20px !important;
	}
	.title {
		margin-top: 0 !important;
	}
	.outer {
		width: calc(100vw - 20px);
		height: 100%;
	}
	.news-inner {
		top: 100px;
		left: 20px;
		float: left;
	}
	.logo {
		font-size: 25px;
	}
	.logo img {
		max-height: 25px;
	}
	.news-outer {
		height: 360px;
	}
	section {
		margin: 12px 20px;
	}
	.moveRight {
		transition: .2s;
		transform: translateX(200px);
	}
	.menu {
		font-size: 18px;
	}
	.glass {
		line-height: 32px;
		width: 100px;
		height: 32px;
	}
	.font24 {
		font-size: 12px;
		margin-bottom: 8px;
	}
	.font32 {
		font-size: 16px;
	}
	.font36 {
		font-size: 18px;
	}
	.font50 {
		font-size: 25px;
	}
}


/*----------------400—560-----------------*/

@media all and (min-width:400px) and (max-width:559px) {
	.outer {
		width: calc(100vw - 20px);
		height: 100%;
	}
	.area {
		max-width: 500px;
	}
	.news-inner {
		top: 100px;
		left: 40px;
		float: left;
	}
	.news-outer {
		height: 650px;
	}
	section {
		margin: 20px 32px;
	}
	.glass {
		line-height: 32px;
		width: 280px;
		height: 32px;
	}
	.font24 {
		font-size: 18px;
		margin-bottom: 8px;
	}
	.font32 {
		font-size: 24px;
	}
	.font36 {
		font-size: 28px;
	}
	.font50 {
		font-size: 38px;
	}
}


/*----------------560—800-----------------*/

@media all and (min-width:560px) and (max-width:799px) {
	.outer {
		width: calc(100vw / 2 - 20px);
		height: inherit;
	}
	.area {
		max-width: 500px;
	}
	.news-inner {
		top: 100px;
		left: 80px;
		float: left;
	}
	.news-outer {
		height: 650px;
	}
	section {
		margin: 20px 32px;
	}
	.font24 {
		font-size: 18px;
		margin-bottom: 8px;
	}
	.font32 {
		font-size: 24px;
	}
	.font36 {
		font-size: 28px;
	}
	.font50 {
		font-size: 38px;
	}
}


/*----------------800—1060-----------------*/

@media all and (min-width:800px) and (max-width:1059px) {
	.outer {
		width: calc(100vw / 2 - 20px);
		height: inherit;
	}
	.logo {
		font-size: 32px;
	}
	.menu {
		font-size: 24px;
	}
	.logo img {
		max-height: 32px;
		margin-top: -6px;
	}
	.scrolled .logo {
		font-size: 32px;
	}
	.scrolled img {
		max-height: 36px;
		margin-top: -5px;
	}
	.scrolled .menu {
		font-size: 24px;
		border-color: #ebf0f5;
	}
	.news-outer {
		height: 900px;
	}
	.news-inner {
		top: 570px;
		left: 25%;
	}
}


/*----------------1060—1600-----------------*/

@media all and (min-width:1060px) and (max-width:1599px) {
	break {
		display: block;
	}
}


/*----------------1600—2500-----------------*/

@media all and (min-width:1600px) and (max-width:2499px) {
	break {
		display: block;
	}
	.hidden {
		display: block;
	}
}


/*----------------minor+major-----------------*/

.rk1 {
	background-color: #2c353a;
	background-image: url('../img/rk1.png');
}

.rk2 {
	background-color: #6d7d88;
	background-image: url('../img/rk2.png');
}

.rk3 {
	background-color: #2c353a;
	background-image: url('../img/rk3.png');
}

.rk4 {
	background-color: #91292c;
	background-image: url('../img/rk4.png');
}

.rk5 {
	background-color: #293a2c;
	background-image: url('../img/rk5.png');
}

.rk6 {
	background-color: #003e6e;
	background-image: url('../img/rk6.png');
}

.rk9 {
	background-color: #976317;
	background-image: url('../img/rk9.png');
}


/*-----------------nii-----------------------*/

.nii1 {
	background-image: url('../img/nii1a.png');
}

.nii2 {
	background-image: url('../img/nii2.png');
}

.nii3 {
	background-image: url('../img/nii3.png');
}

.nii4 {
	background-image: url('../img/nii4.png');
}


/*-----------------robot-----------------------*/


/*-----------------footer-----------------------*/
