<major-menu></major-menu>
<cover title="НИИ Автоматизации Производственных Процессов МГТУ им. Н.Э. Баумана"></cover>
<content class="padding85"><div class="font24">
<p class="bold">НИИ АПП является структурным подразделением научно-учебного комплекса РК и проводит научные исследования по заказам предприятий из различных отраслей промышленности. Области исследований включают в себя все научные направления деятельности кафедр входящих в состав НУК РК. К научной работе привлекаются ведущие преподаватели факультета, научные сотрудники и студенты. Заказчиками научных работ, только за последние годы, являлись такие предприятия как <a href="www.npomash.ru/">ВПК «НПО Машиностроения»</a>, <a href="http://www.salut.ru/">НПЦ газотурбостроения «Салют»</a>, <a href="https://www.transneft.ru/">«АК Транснефть»</a>, «НПО Геофизика-НВ», <a href="http://www.tsagi.ru/">«ЦАГИ»</a>, <a href="http://www.ciam.ru/">«ЦИАМ им. П.И. Баранова»</a> и другие.</p>
<h2>Область научной компетенции коллектива НИИ</h2>
<p>Нашим основным видом деятельности является выполнение фундаментальных, поисковых и прикладных научных исследований по направлениям:</p>
<ul>
	<li>Моделирование процессов резания</li>
	<li>Оптимизация программ обработки сложнопрофильных деталей</li>
	<li>Детектирование чаттера</li>
	<li>Систем виброгашения</li>
	<li>Разработка вычислительных алгоритмов и программного обеспечения для моделирования механических процессов и процессов управления техническими системами</li>
	<li>Проведение опытно-конструкторских работ и производство опытных образцов перспективной техники и технологий</li>
	<li>Автоматизация виброиспытаний</li>
	<li>Разработка и проведение курсов повышения квалификации в области прикладной механики</li>
	<li>Проведение научно-технических семинаров</li>
</ul>
<h2>Средства обеспечения производства</h2>
<h3>Программное обеспечение</h3>
<p>В производственном цикле НИИ на регулярной основе задействованы <a href="http://www.ansys.com/">Ansys</a>, <a href="http://www.plm.automation.siemens.com/ru/products/nx/index.shtml">Siemens NX</a>, <a href="https://mdx.plm.automation.siemens.com/star-ccm-plus">Star CCM+</a>, <a href="https://www.mathworks.com/">MathWorks</a>, <a href="http://www.labview.ru/">LabVIEW</a>. На ряду с готовыми внешними решениями, для ряда узкоспециальных задач используются внутренние программы. Наиболее крупные программные разработки с высокопроизводительной реализацией осуществлены в следующих направлениях:</p>
<ul>
	<li>Реализация МКЭ с учетом специальных алгоритмов: расчет по соотношениям нелинейной теории оболочек, расчет конструкций из несжимаемых материалов и материалов с памятью формы, расчеты в области роторной динамики, расчеты в области высокотемпературной пластичности и ползучести</li>
	<li>Программа для имитационного моделирования динамики процессов обработки резанием, позволяющие выбрать оптимальные режимы обработки (сверление, фрезерование, хонингование, точение)</li>
	<li>Программы для расчета систем виброгашения</li>
	<li>Программы для моделирования динамики систем и настройки МКЭ моделей по результатам экспериментального модального анализа</li>
</ul>
<h3>Оборудование</h3>
Экспериментальная база НИИ АПП включает современное оборудование для проведения статических и динамических испытаний деталей и конструкций:
<ul>
<li>Вибростенд DataPhysics <a href="/assets/res/V400LT.pdf">V400LT</a> с системой управления Abaqus (16 измерительных каналов) и AbaqusLite (синусоидальное возбуждение, случайное возбуждение, удар); 5кН - синусоидальная нагрузка, 11кН - ударная нагрузка, масса объекта испытания до 110 кг, частотный диапазон до 2500 Гц</li>
<li>Вибростенд для калибровки акселерометров DataPhysics V20</li>
<li>Вибростенд <a href="https://www.bksv.com/en/products/shakers-and-exciters/modal-exciters/modal-exciter-types-4825-and-4826">Bruel&#38;Kjaer 4826</a> с системой подвески; 400Н - синусоидальная нагрузка, частотный диапазон до 5000Гц</li>
<li>Многоканальные измерительные системы National Instruments PXI-1050, PXIe-1062e, SCXI-1000 (тензостанция), с набором плат АЦП для статических и динамических измерений в различных частотных диапазонах (общее количество измерительных каналов более 50); измерительные системы оснащены программным комплексом LabVIEW</li>
<li>Комплект датчиков: одно- и трех- компонентные акселерометры B&#38;K, Kistler; измерительные молотки для виброударного тестирования B&#38;K, Kistler; Лазерные датчики виброскорости Polytec; датчики виброперемещения и виброскорости GlobalTest; датчик силы B&#38;K, измерительный микрофон B&#38;K</li>
<li>3-х компонентная силоизмерительная платформа Kistler <a href="/assets/res/9257B.pdf">9257B</a></li>
<li>Машины для испытания на ползучесть, длительную прочность и релаксацию <a href="http://www.atspa.com/products/materials-testing/creepstress-rupture/lever-arm-test-systems/specifications/">ATS 2330</a> (50кН; 100 - 1200 град.)</li>
<li>Универсальная испытательная машина Zwick Z050 - 50 кН (оснащена печью для высокотемпературных испытаний и высокотемпературным экстензометром)</li>
<li>Универсальная испытательная машина Zwick Z100 - 100 кН (оснащена термокриокамерой)</li>
<li>Универсальная испытательная машина Galdabini <a href="http://www.galdabini.it/ru/%D0%BF%D1%80%D0%BE%D0%B4%D1%83%D0%BA%D1%82%D1%8B/%D1%83%D0%BD%D0%B8%D0%B2%D0%B5%D1%80%D1%81%D0%B0%D0%BB%D1%8C%D0%BD%D1%8B%D0%B5-%D0%B8%D1%81%D0%BF%D1%8B%D1%82%D0%B0%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D1%8B%D0%B5-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD%D1%8B/%D0%BD%D0%B0%D1%81%D1%82%D0%BE%D0%BB%D1%8C%D0%BD%D1%8B%D0%B5-%D0%B8%D1%81%D0%BF%D1%8B%D1%82%D0%B0%D1%82%D0%B5%D0%BB%D1%8C%D0%BD%D1%8B%D0%B5-%D0%BC%D0%B0%D1%88%D0%B8%D0%BD%D1%8B/">Quasar 50</a> - 50 кН</li>
<li>Испытательная машина на кручение Instron 55MT5</li>
<li>Система Instron R.R. Moore для испытаний на усталость при изгибе с вращением</li>
<li>Электродинамическая машина ElectroPuls E1000 для статических и циклических (частота до 100Гц) испытаний на растяжение-сжатие</li>
<li>Система измерения поверхностной деформации Vic 3D</li>
<li>Мобильный видеоэкстензометр Limess</li>
<li>Твердомер Ernst Hardness Tester AT 200 DR</li>
</ul>
Минус этого списка в том, что очень разного уровня оборудование собрано в одну кучу. какая-то платформочка и сложные дорогие машины. Из-за того, что нет иерархии смотрится как куча барахла
<h2>Коллектив НИИ</h2>
Тут уместно пару слов о сотрудниках в достаточно сухой подаче типа "фотка, заслуги, медали, ордена, спасённые жизни..."
</div></content>