<major-menu></major-menu>
НИИ АПП МГТУ им. Н.Э. Баумана
НИИ АПП является структурным подразделением НУК РК и проводит научные исследования по заказам предприятий из различных отраслей промышленности. Области исследований включают в себя все научные направления деятельности кафедр входящих в состав НУК РК. К научной работе привлекаются ведущие преподаватели факультета, научные сотрудники и студенты. Заказчиками научных работ, только за последние годы, являлись такие предприятия как ОАО «ВПК «НПО Машиностроения», ФГУП «НПЦ газотурбостроения «Салют» , ОАО «АК Транснефть», ОАО «НПО Геофизика-НВ», ФГУП «ЦАГИ», ФГУП «ЦИАМ им. П.И. Баранова» и др.
Основным принципом работы НИИ АПП является комплексный подход, объединяющий современные методы проектирования, численное моделирование физических процессов и экспериментальное определение параметров функционирования изделия.
Для разработки математических моделей и численного моделирования используются лицензионные программные средства:
- Ansys 12
- Siemens NX
- CCM+
- MatLAB 2010 (+Simulink),
- LabVIEW
А также пакеты программ собственной разработки:
- МКЭ с учетом специальных алгоритмов (расчет по соотношениям нелинейной теории оболочек, расчет конструкций из несжимаемых материалов и материалов с памятью формы, расчеты в области роторной динамики, расчеты в области высокотемпературной пластичности и ползучести);
- программы для имитационного моделирования динамики процессов обработки резанием, позволяющие выбрать оптимальные режимы обработки (сверление, фрезерование, хонингование, точение);
- программы для расчета систем виброгашения;
- программы для моделирования динамики систем и настройки МКЭ моделей по результатам экспериментального модального анализа;
- и др.
Экспериментальная база НИИ АПП включает современное оборудование для проведения статических и динамических испытаний деталей и конструкций:
- вибростенд DataPhysics V400LT с системой управления Abaqus (16 измерительных каналов) и AbaqusLite (синусоидальное возбуждение, случайное возбуждение, удар); 5кН - синусоидальная нагрузка, 11кН - ударная нагрузка, масса объекта испытания до 110 кг, частотный диапазон до 2500 Гц
- вибростенд для калибровки акселерометров DataPhysics V20
- вибростенд Bruel&Kjaer 4826 с системой подвески; 400Н - синусоидальная нагрузка, частотный диапазон до 5000Гц
- многоканальные измерительные системы National Instruments PXI-1050, PXIe-1062e, SCXI-1000 (тензостанция), с набором плат АЦП для статических и динамических измерений в различных частотных диапазонах (общее количество измерительных каналов более 50); измерительные системы оснащены программным комплексом LabVIEW
- набор портативных АЦП National Instruments с интерфейсом USB для динамических и статических измерений (более 30 измерительных каналов)
- комплект датчиков: одно- и трех- компонентные акселерометры B&K, Kistler; измерительные молотки для виброударного тестирования B&K, Kistler; Лазерные датчики виброскорости Polytec; датчики виброперемещения и виброскорости GlobalTest; датчик силы B&K, измерительный микрофон B&K
- 3-х компонентная силоизмерительная платформа Kistler 9257B
- универсальная испытательная машина Zwick Z050 - 50 кН (оснащена печью для высокотемпературных испытаний и высокотемпературным экстензометром)
- универсальная испытательная машина Zwick Z100 - 100 кН (оснащена термокриокамерой)
- универсальная испытательная машина Galdabini Quasar 50 - 50 кН
- испытательная машина на кручение Instron 55MT5
- система Instron R.R. Moore для испытаний на усталость при изгибе с вращением
- электродинамическая машина ElectroPuls E1000 для статических и циклических (частота до 100Гц) испытаний на растяжение-сжатие
- система измерения поверхностной деформации Vic 3D
- мобильный видеоэкстензометр Limess
- твердомер Ernst Hardness Tester AT 200 DR
- машины для испытания на ползучесть, длительную прочность и релаксацию ATS 2330 (50кН; 100 - 1200 град.)