body {
	height: 100%;
	margin: 0px 0px 500px 0px;
	padding: 0px;
	background-color: #23232b;
	overflow-x: hidden;
	font-family: "PT Sans";
	font-size: 26px;
}

a {
	text-decoration: none;
	color: inherit;
}

.lite-bg {
	 background-color: #f3f3f3;
}

header {
	background-size: cover;
	background-position: 50% 100%;
	background-repeat: no-repeat;
	background-color: #F3F3F3;
}

content {
	background-color: #F3F3F3;
	display: block;
	padding: 100px;
	text-indent: 1.5em;
}

content p {
	text-indent: 1.5em;
}
/*---------------nav-----------------*/
nav {
	position: relative;
	top: 0px;
	left: 0px;
	right: 0px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 0px 300px 0px 300px;
	background-color: rgba(255,255,255,0.95);
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
	margin: 0px;
}

nav h1 {
	background-image: url("favicon.png");
	background-repeat: no-repeat;
	background-position: 0px 50%;
	padding: 0px 0px 0px 80px;
	margin: 0px 45px 0px 45px;
	line-height: 110px;
	font-size: 50px;
	font-family: "PT Mono";
}

nav a {
	white-space:nowrap;
	padding: 0px 10px 0px 45px;
	display: block;
	line-height: 110px;
	vertical-align: middle;
	color: #2D373C;
	font-size: 28px;
	transition: background-color 0.3s, text-decoration-color 0.3s;
	text-decoration-color: rgba(255,255,255,0.0);
	text-decoration: none;
}

nav a img {
	line-height: 35px;
	display: inline-block;
	opacity: 0;
	transition: opacity 0.3s, width 0.3s, margin-right 0.3s, margin-left 0.3s;
	width: 60px;
	margin-right: -12.5px;
	margin-left: -12.5px;
}

nav a:hover img {
	opacity: 1;
	text-decoration: underline;
	text-decoration-color: rgba(255,255,255,1.0);
	margin-right: 0px;
	margin-left: 0px;
	width: 35px;
}

nav a:hover {
	background-color: white;
}

nav .nav-vk:hover {
}

/*----------------lead-in-----------------*/
.lead-in {
	z-index: 100;
	display: block;
	position: absolute;
	right: 0px;
	top: 238px;
	background-color: white;
	width: 640px;
	padding: 44px 73px 44px 70px; 
	font-size: 24px;
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
}

.lead-in p:first-child {
	color: #707e88;
	padding-bottom: 30px; 
	border-bottom: 2px solid #d4d7da;
}
/*----------------bolo-----------------*/
.bolo {
	z-index: 99;
	position: relative;
	left: 0px;
	padding: 607px 0px 170px 280px;
	color: white;
	margin-bottom: 0px;
	background-color: rgba(35, 35, 43, 0.4);
}

.bolo p {
	font-size: 36px;
	width: 300px;
	margin: 0px 0px 30px 0px;
	padding: 0px;
}

.bolo a {
	display: block;
	background-color: rgba(255,255,255,0.15);
	width: 280px;
	line-height: 58px;
	font-size: 24px;
	text-align: center;
	border: 1px solid white;
	transition: background-color 0.3s;
}

.bolo a:hover {
	background-color: rgba(255,255,255,0.3);
}


/*----------------division-----------------*/
.division {
	display: flex;
	flex-direction: column;
	padding-bottom: 150px;
}

.major-division-title, .minor-division-title
{
	z-index: 100;
	position: relative;
	padding: 51px 40px 51px 80px;
	width: 480px;
	margin: -130px 200px 20px 120px;
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
	font-size: 24px;
}

.major-division-title {
	background-color: #292933;
	color: white;
}

.minor-division-title {
	margin-left: 100%;
	transform: translate(-720px,0px);
	background-color: white;
}

.major-division-title h2, .minor-division-title h2 {
	margin:0px 0px 31px 0px;
	font-size: 36px;
}

/*----------------departments-----------------*/
.department-label {
	margin: 20px;
	padding: 61px 45px 44px 65px;
	background-color: green;
	background-size: cover;
	width: 511px;
	height: 454px;
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
	color: white;
	font-size: 26px;
	overflow-y: auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.department-label h3 {
	font-family: "PT Mono";
	font-size: 50px;
	margin-top: 0px;
	margin-bottom: 45px;
	display: inline-block;
	border-bottom: 1px solid white;
	padding-bottom: 13px;
}

.department-label a
{
	display: block;
	position: relative;
	border: 1px solid white;
	width: 130px;
	left: 100%;
	text-align:center;
	padding: 0px 10px 0px 10px;
	transform: translate(-100%,0);
	transition: color 0.3s, border-color 0.3s;
	margin-top: 20px;
}

.department-label a:hover {
	color: #dddddd;
	border-color: #dddddd;
}

.major-departments {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	align-content: center;
	padding: 0px 20px 0px 20px;
	overflow-x: hidden;
}

@media (max-width:1257px){
	.major-departments {
		justify-content: flex-start;
		overflow-x: auto;
	}
}

.minor-departments {
	display: flex;
	justify-content: space-around;
}

/*----------------department labels----------------*/
.rk1 {
	background-image: url('img/rk1.png'); 
	background-color: #2c353a;
}
.rk2 {
	background-image: url('img/rk2.png'); 
	background-color: #6d7d88;
}
.rk3 {
	background-image: url('img/rk3.png'); 
	background-color: #2c353a;
}
.rk4 {
	background-image: url('img/rk4.png'); 
	background-color: #91292c;
}
.rk5 {
	background-image: url('img/rk5.png'); 
	background-color: #293a2c;
}
.rk6 {
	background-image: url('img/rk6.png'); 
	background-color: #003e6e;
}
.rk9 {
	background-image: url('img/rk9.png'); 
	background-color: #976317;
}
/*-------------------robot-------------------*/
.robot {
	height: 1300px;
	margin-bottom:0px;
	background-image: url("img/track.png");
	background-size: cover;
	background-position: 50% 0px;
}

/*-----------------nii-----------------------*/
.nii {
	position:relative; 
	height: 1000px;
	margin-bottom:0px;
}

.nii .major-division-title {
	width:800px;
}

.nii-label {
	left: 50%;
	position:absolute; 
	color: white;
	box-shadow: 0 0 10px black;
}

.nii-label h3 {
	padding: 30px 0px 0px 30px;
}

.nii-label .content {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.shredding {
	margin-left: -720px;
	top: 200px;
	width: 700px;
	height: 400px;
	background-image: url('img/nii-a.png');
}
.rotor {
	margin-left: 20px;
	top: 440px;
	width: 700px;
	height: 400px;
	background-image: url('img/nii-rotor.png');
	background-size:cover;
}
.course {
	margin-left: 20px;
	top: 200px;
	width: 600px;
	height: 200px;
	background-image: url('img/nii-face.png');
}
.test {
	margin-left: -620px;
	top: 640px;
	width: 600px;
	height: 200px;
	background-image: url('img/nii-hand.png');
}

@media (max-width:1600px){
	.shredding {
		margin-left: -500px;
		top: 200px;
	}
	.course {
		margin-left:-100px;
		top: 650px;
	}
	.rotor {
		margin-left: -500px;
		top: 900px;
	}
	.test {
		margin-left: -100px;
		top: 1350px;
	}
	.nii {
		height: 1600px;
	}
	.nii .major-division-title {
		width:600px;
	}
}
/*----------------hon-split------------------*/
.hon-split-left {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 50%;
}

.hon-split-right {
	position: absolute;
	top: 0px;
	left: 50%;
	width: 50%;
	height: 100%;
}

.hon-split-bg {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 100%;
	width: 50%;
	background-image: url('img/nii-b.png');
	transition: width 2s linear 0s;
}

.hon-content {
	background-color: rgba(140, 140, 160, 0.3);
}

/*---------------subnav--------------*/
.subnav {
	display: flex;
	justify-content:  space-around;
	overflow-x: hidden;
	flex-flow: row wrap;
	overflow: visible;
}
.subnav a {
	display: block;
	line-height: 100px;
	width: 100px;
	text-align: center;
	background-size: cover;
	box-shadow: 0 0 5px rgba(0,0,0,0.4);
	color: white;
	transition: box-shadow 1s ease;
}

.subnav a:hover	{
	box-shadow: 0 0 15px rgba(0,0,0,0.6);
}