.two-column {
	display: flex;
	justify-content: space-around;
}

a {
	color: inherit;
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
}

p, h3 {
	transition: color 3s;
}

.darken:hover h3, p:hover, h3:hover {
	color: white;
}

.spaced {
	margin-left: 30px;
	margin-right: 30px;
	margin-top:20px;
	margin-bottom:20px;
}

.flex-start {
	justify-content: flex-start;
}

.spaced-wrap {
	margin-top:50px;
	margin-bottom: 5px;
}


@media all and (max-width:559px) {
	.two-column {
		flex-wrap: wrap;
	}
}
