<div id="wrapper" class="wrapper">
  <div class="top">
    <a class="lead" routerLink="/speech">
      <section>
        <div class="font24 light">“… обеспечить создание интегрированных автоматизированных систем проектирования и производства в машиностроении и приборостроении.”</div>
        <div class="long-line"></div>
        <div class="font24 dark">
          Руководитель факультета РК
          <br/>Тимофеев Геннадий Алексеевич </div>
      </section>
    </a>
    <div class="news">
      <div class="news-outer">
        <div class="news-inner">
          <h1 class="font36 white">Боло: первый русский шаробот</h1>
          <a class="glass font24 white" href="https://habrahabr.ru/post/306456/">Читать</a>
        </div>
      </div>
    </div>
  </div>
  <div class="major">
    <div class="title left narrow">
      <section>
        <div class="font36 white">Выпускающие кафедры</div>
        <div class="font24 white">Ведут подготовку к выпуску студентов со степенью специалиста, бакалавра и магистра а так же аспирантов</div>
      </section>
    </div>
    <div class="major-departments">
      <div class="container">
        <a class="department outer" href="http://rk4.bmstu.ru/">
          <section>
            <div class="font50 white">РК4</div>
            <div class="short-line"></div>
            <div class="font24 white">
              Выпускники кафедры «Подъемно-транспортные системы» являются специалистами в области проектирования, изготовления и эксплуатации специальных машин и подъемных механизмов, сложных автоматизированных систем. </div>
          </section>
          <div class="rk4 brighten"></div>
        </a>
        <a class="department outer" href="http://rk5.bmstu.ru/">
          <section>
            <div class="font50 white">РК5</div>
            <div class="short-line"></div>
            <div class="font24 white">
              Основное направление подготовки кафедры «Прикладная механика» – расчёты на прочность, жёсткость и надёжность, но мы никогда не ограничивали себя этими рамками. Специалисту в области прикладной механики просто необходимо разбираться почти во всём.</div>
          </section>
          <div class="rk5 brighten"></div>
        </a>
        <div class="break"></div>
        <a class="department outer" href="http://rk6.bmstu.ru/">
          <section>
            <div class="font50 white">РК6</div>
            <div class="short-line"></div>
            <div class="font24 white">
              Главная особенность образовательных программ кафедры «Системы автоматизированного проектирования» – ориентация на подготовку бакалавров и магистров в области информационных технологий в сочетании с прикладными знаниями, прежде всего, в области машиностроения. </div>
          </section>
          <div class="rk6 brighten"></div>
        </a>
        <a class="department outer" href="http://rk9.bmstu.ru/">
          <section>
            <div class="font50 white">РК9</div>
            <div class="short-line"></div>
            <div class="font24 white">
              Мы готовим специалистов в области автоматизации производственной деятельности предприятий на основе их компьютеризации. Подготовка ведется для всех уровней автоматизации от управления отдельными машинами до комплексной автоматизации всей деятельности предприятия. </div>
          </section>
          <div class="rk9 brighten"></div>
        </a>
      </div>
    </div>
  </div>
  <div class="minor">
    <div class="title right narrow">
      <section>
        <div class="font36 dark">Невыпускающие кафедры</div>
        <div class="font24 dark">Обеспечивают общеинженерную подготовку студентов, ведут подготовку магистров и аспирантов</div>
      </section>
    </div>
    <div class="minor-departments">
      <div class="container">
        <a class="department outer" href="http://hoster.bmstu.ru/~rk1/">
          <section>
            <div class="font50 white">РК1</div>
            <div class="short-line"></div>
            <div class="font24 white">
              На кафедре «Инженерная графика» студенты изучают способы построения изображений пространственных форм на плоскости, правила выполнения чертежей по стандартам ЕСКД с привлечением программ 2D и 3D моделирования.</div>
          </section>
          <div class="rk1 brighten"></div>
        </a>
        <a class="department outer" href="http://hoster.bmstu.ru/~rk2/">
          <section>
            <div class="font50 white">РК2</div>
            <div class="short-line"></div>
            <div class="font24 white">
              Кафедра «Теория механизмов и машин» ежегодно реализует шесть образовательных программ разного уровня обучения основам проектирования машин. На кафедре есть уникальный кабинет механизмов, многие из которых имеют свидетельства как памятники истории.</div>
          </section>
          <div class="rk2 brighten"></div>
        </a>
        <a class="department outer" href="http://hoster.bmstu.ru/~rk3/">
          <section>
            <div class="font50 white">РК3</div>
            <div class="short-line"></div>
            <div class="font24 white">
              Основной курс, читаемый преподавателями кафедры «Основы конструирования машин» - «Детали машин и основы конструирования». С 2015 года кафедра также осуществляет подготовку магистров по направлению «Машиностроение».</div>
          </section>
          <div class="rk3 brighten"></div>
        </a>
      </div>
    </div>
  </div>
  <div *ngIf=isDevMode() class="sub" id="prefooter">
    <div class="title left narrow">
      <section>
        <div class="font32 white">Периферийные подразделения факультета</div>
        <div class="font24 white">Организации, осуществляющие производственную деятельность на базе факультета</div>
      </section>
    </div>
    <div class="minor-departments">
      <div class="container">
        <a class="area outer" routerLink="/nii">
          <section>
            <div class="font32 white bold">Научно-исследовательский институт «Автоматизации производственных процессов»</div>
          </section>
          <div class="nii brighten"></div>
        </a>
        <a class="area outer" href="#" style="cursor:default;">
          <section>
            <div class="font32 white bold">Научно-образовательный центр «Autodesk»</div>
          </section>
          <div class="autodesk brighten"></div>
        </a>
        <a class="area outer" href="http://www.robot.bmstu.ru/">
          <section>
            <div class="font32 white bold">Научно-учебный центр «Робототехника»</div>
          </section>
          <div class="robot brighten"></div>
        </a>
      </div>
    </div>
  </div>
</div>