.underground {
	line-height: 50px;
	text-align: center;
	margin: 0px;
	transition: color 2s;
}

.underground:hover {
	color: white;
}

footer {
	background-image: url(/assets/img/part.png);
	background-position-x: 50%;
}
