<major-menu></major-menu>
<cover title="Памятка абитуриента"></cover>
<content class="font24 padding85">
<h2 class="font32" style="margin-top: 0px;">Первый этап</h2>
В период работы приёмной комиссии абитуриент может пройти в институт по паспорту. С ним, при наличии паспорта, может пройти сопровождающий.<br/>
Если вы у нас в институте в первый раз, вам придётся начать с аудитории 345. Там вместе с Вами сформируют электронное дело абитуриента.
<h2 class="font32">Второй этап</h2>
После того как ваше электронное дело готово приходите в аудиторию 422.<br/>
На этапе подачи документов необходимо принести копии аттестата и паспорта, желательно военно-учетный документ. Это необходимый минимум. Наличие дополнительных документов, таких как оригинал аттестата, будет большим плюсом.
<h2 class="font32">Ожидание результатов</h2>
Отслеживать конкурсную ситуацию можно в нашей <a href="https://vk.com/priem_rk">группе в контакте</a>.
<h2 class="font32">Полезные советы</h2>
Можно предварительно сформировав электронное дело абитуриента <a href="http://priem.bmstu.ru/ru/registration/moscow/">тут</a>. Тогда в 345 аудитории его просто перепроверят. Это немного быстрее.<br/>
Подача оригинала аттестата сильно повышает вашу привлекательность в глазах лиц, принимающих решение о зачислении. Даже если ваш средний бал не так высок, как всем бы хотелось, наличие оригинала аттестата может стать решающим и вас могут принять.<br/>
Полезная для абитуриентов информация, например схема здания, опубликована на <a href="http://www.bmstu.ru/abitur/">сайте абитуриента</a>.
</content>