<cover title="Памятка абитуриента"></cover>
<content class="padding85"><div class="font24">
<h2 class="font32" style="margin-top: 0px;">Первый этап</h2>
В период работы приёмной комиссии абитуриент может пройти в институт по паспорту и оригиналу аттестата. С ним, при наличии паспорта, могут пройти родители.<br/>
Если вы у нас в институте в первый раз, вам придётся начать с аудитории 345. Там вместе с вами сформируют электронное дело абитуриента.<br/>Все отделения приёмной комиссии работают по следующему расписанию: с понедельника по пятницу 10:00-17:00, суббота 10:00-14:00
<h2 class="font32">Второй этап</h2>
После того как ваше электронное дело готово приходите в аудиторию 422.<br/>
На этапе подачи документов необходимо принести копии аттестата и паспорта. Заверять копии не требуется. Это необходимый минимум.
<h2 class="font32">Ожидание результатов</h2>
Отслеживать конкурсную ситуацию можно в нашей <a href="https://vk.com/priem_rk">группе в контакте</a>. Телефон для справок отборочной комиссии: <a href="tel:+74992636180">+7(499)2636180</a><br/>
Текущая конкурсная ситуация не публикуется в связи с тем, что она не позволяет оценить шансы на поступление. Мы не можем точно сказать, сколько абитуриентов подаст документы.
<h2 class="font32">Полезные советы</h2>
Можно предварительно сформировав электронное дело абитуриента <a href="http://priem.bmstu.ru/ru/registration/moscow/">тут</a>. Тогда в 345 аудитории его просто перепроверят. Это немного быстрее.<br/>
Список направлений подготовки, указанный при оформлении документов в МГТУ, можно изменять вплоть до момента окончания приема документов (в 2017 году - до 26 июля включительно) в отборочной комиссии факультета РК (422 аудитория).<br />
Подача заявлений на платную основу обучения идет до 31 августа, поэтому нет смысла с этим спешить.<br />
Полезная для абитуриентов информация, например схема здания, опубликована на <a href="http://www.bmstu.ru/abitur/">сайте абитуриента</a>.
</div></content>